/* css to add google-font */
.google-font {
    font-family: 'Poppins', sans-serif;
}

#home-page-margin {
    margin-top: 100px;
}

@media only screen and (max-width: 450px){
    .salesid {
        display: none;
    }
}